<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CertiTrack - @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap Date Picker -->
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/build/datepicker.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/vendor/select2/select2.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/vendor/font-awesome/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/vendor/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.css">
    <!-- Custom styling -->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>C</b>T</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Certi</b>Track</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation" style="box-shadow: rgba(0,0,0,.5) 0 1px 3px">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="font-family: 'Font Awesome 5 Free'; font-weight: 900;">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                @*<img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header" style="height: auto;">
                                    @*<img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                                    <p>
                                        @User.Identity.Name
                                        @*<small>User Role</small>*@
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @*<li class="user-body">*@
                                @*<div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Account</a>
                                        </div>
                                    </div>*@
                                <!-- /.row -->
                                @*</li>*@
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @*<div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>*@
                                    <div class="pull-right">
                                        <a asp-controller="Account" asp-action="Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @*<div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>@User.Identity.Name</p>
                            <!-- Status -->
                            <i class="fa fa-circle text-success"></i> Online
                        </div>
                    </div>*@
                <!-- search form (Optional) -->
                @*<form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>*@
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <partial name="_MainMenu" />
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Status Message Partial -->
            <Partial name="_StatusMessages" />
            <div id="status-messages"></div>
            <!-- ^^^^ -->
            <!-- Bootstrap Modal -->
            <div class="modal modal modal-warning fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="my-modal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Confirm</h4>
                        </div>
                        <div class="modal-body">
                            <h4 id="myModalLabel"></h4>
                            <input type="hidden" id="post-data" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" id="modal-btn-yes">Yes</button>
                            <button type="button" class="btn btn-outline" id="modal-btn-no">No</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Bootstrap Modal -->
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Today.Year <a href="https://thatxrguy.com" target="_blank">Nem Ekpunobi</a></strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Popper.js 1.12.9 -->
    <script src="~/vendor/bootstrap/dist/js/popper.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap Validator.js 0.11.9 -->
    <script src="~/vendor/bootstrap/dist/js/validator.min.js"></script>
    <!-- Bootstrap Date Picker -->
    <script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Select2 -->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!-- InputMask -->
    <script src="~/vendor/inputmask/dist/min/inputmask/inputmask.min.js"></script>
    <script src="~/vendor/inputmask/dist/min/inputmask/inputmask.extensions.min.js"></script>
    <script src="~/vendor/inputmask/dist/min/inputmask/inputmask.phone.extensions.min.js"></script>
    <script src="~/vendor/inputmask/dist/min/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/vendor/inputmask/dist/inputmask/bindings/inputmask.binding.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables -->
    <script src="~/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Custom Page Script -->
    <script type="text/javascript" src="~/js/custom.js"></script>
</body>
</html>