<ul class="sidebar-menu" data-widget="tree">
    <li class="header">NAVIGATION</li>
    <!-- Dashboard -->
    <li>
        <a href="@Url.Action("Index", "Home")">
            <i class="fa fa-link"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- / Dashboard -->
    <!-- Staff Treeview -->
    <li class="treeview @(ViewBag.Current == "StaffIndex"
        || ViewBag.Current == "StaffCreate"
        || ViewBag.Current == "StaffEdit"? "active" : "")">
        <a href="#">
            <i class="fa fa-link"></i> <span>Staff</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(ViewBag.Current == "StaffIndex" ? "active" : "")">
                <a href="@Url.Action("Index", "Staff")">
                    <i class="fa fa-link"></i>
                    <span>Manage Staff</span>
                </a>
            </li>
            <li class="@(ViewBag.Current == "StaffCreate" ? "active" : "")">
                <a href="@Url.Action("Create", "Staff")">
                    <i class="fa fa-link"></i>
                    <span>Add Member</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- / Staff Treeview -->
    <!-- Certificates Treeview -->
    <li class="treeview @(ViewBag.Current == "CertificateIndex"
        || ViewBag.Current == "CertificateCreate"
        || ViewBag.Current == "CertificateEdit"? "active" : "")">
        <a href="#">
            <i class="fa fa-link"></i> <span>Certificates</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(ViewBag.Current == "CertificateIndex" ? "active" : "")">
                <a href="@Url.Action("Index", "Certificates")">
                    <i class="fa fa-link"></i>
                    <span>Manage Certificates</span>
                </a>
            </li>
            <li class="@(ViewBag.Current == "CertificateCreate" ? "active" : "")">
                <a href="@Url.Action("Create", "Certificates")">
                    <i class="fa fa-link"></i>
                    <span>Issue Certificate</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- / Certificates Treeview -->
    <!-- Customers Treeview -->
    <li class="treeview @(ViewBag.Current == "CustomerIndex"
        || ViewBag.Current == "CustomerCreate"
        || ViewBag.Current == "CustomerEdit"
        || ViewBag.Current == "CustomerDetails"? "active" : "")">
        <a href="#">
            <i class="fa fa-link"></i> <span>Customers</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(ViewBag.Current == "CustomerIndex" ? "active" : "")">
                <a href="@Url.Action("Index", "Customers")">
                    <i class="fa fa-link"></i>
                    <span>Manage Customers</span>
                </a>
            </li>
            <li class="@(ViewBag.Current == "CustomerCreate" ? "active" : "")">
                <a href="@Url.Action("Create", "Customers")">
                    <i class="fa fa-link"></i>
                    <span>Register Customer</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- / Customers Treeview -->
    <!-- Orders Treeview -->
    <li class="@(ViewBag.Current == "OrdersIndex"
        || ViewBag.Current == "OrdersEdit"
        || ViewBag.Current == "OrdersDetails"? "active" : "")">
        <a href="@Url.Action("Index", "Orders")">
            <i class="fa fa-link"></i>
            <span>Orders</span>
        </a>
    </li>
    <!-- / Orders Treeview -->
    <!-- Channels Treeview -->
    <li class="treeview @(ViewBag.Current == "ChannelsIndex"
        || ViewBag.Current == "ChannelsCreate"
        || ViewBag.Current == "ChannelsEdit"
        || ViewBag.Current == "ChannelsDetails"? "active" : "")">
        <a href="#">
            <i class="fa fa-link"></i> <span>Channels</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(ViewBag.Current == "ChannelsIndex" ? "active" : "")">
                <a href="@Url.Action("Index", "Channels")">
                    <i class="fa fa-link"></i>
                    <span>Manage Channels</span>
                </a>
            </li>
            <li class="@(ViewBag.Current == "ChannelsCreate" ? "active" : "")">
                <a href="@Url.Action("Create", "Channels")">
                    <i class="fa fa-link"></i>
                    <span>Add Channel</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- / Channels Treeview -->
    <!-- Promotions Treeview -->
    <li class="treeview @(ViewBag.Current == "PromoIndex"
        || ViewBag.Current == "PromoCreate"
        || ViewBag.Current == "PromoEdit"? "active" : "")">
        <a href="#">
            <i class="fa fa-link"></i> <span>Promotions</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(ViewBag.Current == "PromoIndex" ? "active" : "")">
                <a href="@Url.Action("Index", "Promotions")">
                    <i class="fa fa-link"></i>
                    <span>Manage Promotions</span>
                </a>
            </li>
            <li class="@(ViewBag.Current == "PromoCreate" ? "active" : "")">
                <a href="@Url.Action("Create", "Promotions")">
                    <i class="fa fa-link"></i>
                    <span>Create Promotion</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- / Promotions Treeview -->
</ul>