<ul class="sidebar-menu" data-widget="tree">
    <li class="header">NAVIGATION</li>
    <!-- Dashboard -->
    @*<li>
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-tachometer-alt"></i> <span>Dashboard</span>
            </a>
        </li>*@
    <!-- / Dashboard -->
    <!-- Staff Treeview -->
    @if (User.IsInRole("Admin"))
    {
        <li class="treeview @(ViewBag.Current == "StaffIndex"
        || ViewBag.Current == "StaffCreate"
        || ViewBag.Current == "StaffEdit" ? "active" : "")">
            <a href="#">
                <i class="fa fa-id-badge"></i> <span>Staff</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@(ViewBag.Current == "StaffIndex" ? "active" : "")">
                    <a href="@Url.Action("Index", "Staff")">
                        <i class="fa fa-tools"></i>
                        <span>Manage Staff</span>
                    </a>
                </li>
                <li class="@(ViewBag.Current == "StaffCreate" ? "active" : "")">
                    <a href="@Url.Action("Create", "Staff")">
                        <i class="fa fa-user-plus"></i>
                        <span>Add Member</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    <!-- / Staff Treeview -->
    <!-- Certificates Treeview -->
    <li class="treeview @(ViewBag.Current == "CertificateIndex"
        || ViewBag.Current == "CertificateCreate"
        || ViewBag.Current == "CertificateEdit"? "active" : "")">
        <a href="#">
            <i class="fa fa-ticket-alt"></i> <span>Certificates</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(ViewBag.Current == "CertificateIndex" ? "active" : "")">
                <a href="@Url.Action("Index", "Certificates")">
                    <i class="fa fa-tools"></i>
                    <span>Manage Certificates</span>
                </a>
            </li>
            <li class="@(ViewBag.Current == "CertificateCreate" ? "active" : "")">
                <a href="@Url.Action("Create", "Certificates")">
                    <i class="fa fa-plus-square"></i>
                    <span>Issue Certificate</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- / Certificates Treeview -->
    <!-- Customers Treeview -->
    <li class="treeview @(ViewBag.Current == "CustomerIndex"
        || ViewBag.Current == "CustomerCreate"
        || ViewBag.Current == "CustomerEdit"
        || ViewBag.Current == "CustomerDetails"? "active" : "")">
        <a href="#">
            <i class="fa fa-users"></i> <span>Customers</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(ViewBag.Current == "CustomerIndex" ? "active" : "")">
                <a href="@Url.Action("Index", "Customers")">
                    <i class="fa fa-tools"></i>
                    <span>Manage Customers</span>
                </a>
            </li>
            <li class="@(ViewBag.Current == "CustomerCreate" ? "active" : "")">
                <a href="@Url.Action("Create", "Customers")">
                    <i class="fa fa-user-plus"></i>
                    <span>Register Customer</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- / Customers Treeview -->
    <!-- Orders Treeview -->
    <li class="@(ViewBag.Current == "OrdersIndex"
        || ViewBag.Current == "OrdersEdit"
        || ViewBag.Current == "OrdersDetails"? "active" : "")">
        <a href="@Url.Action("Index", "Orders")">
            <i class="fa fa-shopping-basket"></i>
            <span>Orders</span>
        </a>
    </li>
    <!-- / Orders Treeview -->
    <!-- Channels Treeview -->
    @if (User.IsInRole("Admin"))
    {
        <li class="treeview @(ViewBag.Current == "ChannelsIndex"
        || ViewBag.Current == "ChannelsCreate"
        || ViewBag.Current == "ChannelsEdit"
        || ViewBag.Current == "ChannelsDetails" ? "active" : "")">
            <a href="#">
                <i class="fa fa-road"></i> <span>Channels</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@(ViewBag.Current == "ChannelsIndex" ? "active" : "")">
                    <a href="@Url.Action("Index", "Channels")">
                        <i class="fa fa-tools"></i>
                        <span>Manage Channels</span>
                    </a>
                </li>
                <li class="@(ViewBag.Current == "ChannelsCreate" ? "active" : "")">
                    <a href="@Url.Action("Create", "Channels")">
                        <i class="fa fa-plus-square"></i>
                        <span>Add Channel</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    <!-- / Channels Treeview -->
    <!-- Promotions Treeview -->
    @if (User.IsInRole("Admin"))
    {
        <li class="treeview @(ViewBag.Current == "PromoIndex"
        || ViewBag.Current == "PromoCreate"
        || ViewBag.Current == "PromoEdit"? "active" : "")">
            <a href="#">
                <i class="fa fa-piggy-bank"></i> <span>Promotions</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@(ViewBag.Current == "PromoIndex" ? "active" : "")">
                    <a href="@Url.Action("Index", "Promotions")">
                        <i class="fa fa-tools"></i>
                        <span>Manage Promotions</span>
                    </a>
                </li>
                <li class="@(ViewBag.Current == "PromoCreate" ? "active" : "")">
                    <a href="@Url.Action("Create", "Promotions")">
                        <i class="fa fa-funnel-dollar"></i>
                        <span>Create Promotion</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    <!-- / Promotions Treeview -->
    <!-- Roles Treeview -->
    @if (User.IsInRole("Admin"))
    {
        <li class="treeview @(ViewBag.Current == "RolesIndex"
        || ViewBag.Current == "RolesCreate"
        || ViewBag.Current == "RolesEdit"? "active" : "")">
            <a href="#">
                <i class="fa fa-users-cog"></i> <span>Roles</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@(ViewBag.Current == "RolesIndex" ? "active" : "")">
                    <a href="@Url.Action("Index", "Roles")">
                        <i class="fa fa-tools"></i>
                        <span>Manage Roles</span>
                    </a>
                </li>
                <li class="@(ViewBag.Current == "RolesCreate" ? "active" : "")">
                    <a href="@Url.Action("Create", "Roles")">
                        <i class="fa fa-user-cog"></i>
                        <span>Create Role</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    <!-- / Roles Treeview -->
    <!-- Total Treeview -->
    <li class="@(ViewBag.Current == "OrdersIndex"
        || ViewBag.Current == "OrdersEdit"
        || ViewBag.Current == "OrdersDetails"? "active" : "")">
        <a href="@Url.Action("Index", "Total")">
            <i class="fa fa-dollar-sign"></i>
            <span>Total</span>
        </a>
    </li>
    <!-- / Orders Treeview -->
</ul>