@model Certitrack.ViewModels.CertificateEditViewModel;

@{
    ViewData["FormAction"] = "Edit";
    ViewData["SectionHeader"] = "Edit Certificate Details";
    ViewData["SectionBreadCrumb"] = "Edit Certificate";
    ViewData["Title"] = "Edit";
    ViewData["SubmitButtonText"] = "Update";
    ViewData["FormAction"] = "Edit";
    ViewBag.Current = "CertificateEdit";
}

<section class="content-header">
    <h1 class="text">
        @ViewData["SectionHeader"]
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/Certificates">Certificates</a></li>
        <li class="active">@ViewData["SectionBreadCrumb"]</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
    <div class="row" style="display: flex">
        <div class="col-xs-12 col-md-10 col-lg-8" style="margin: 0 auto">
            <div class="register-box-body">
                <div class="box-header ">
                    <h3 class="box-title">Edit Certificate</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body pad">
                    <form asp-action="@ViewData["FormAction"]" class="form-group" data-toggle="validator" role="form">
                        <!-- Model-Level Errors -->
                        <div asp-validation-summary="ModelOnly" class="text-danger help-block with-errors"></div>
                        <!-- / Model-Level Errors -->

                        <div class="row">
                            <!-- CertificateNo -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Certificate.CertificateNo" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-stamp"></i></span>
                                    <input asp-for="Certificate.CertificateNo" type="text" class="form-control" disabled />
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Certificate.CertificateNo" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / CertificateNo -->
                            <!-- Customer -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Customer.Name" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-user"></i></span>
                                    <select asp-for="Customer.Name" asp-items="@Model.CustomerList" class="form-control select2" required></select>
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Customer.Name" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / Customer -->
                            <!-- Channel -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Channel.ChannelName" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-route"></i></span>
                                    <select asp-for="Channel.ChannelName" asp-items="@Model.ChannelList" class="form-control select2 select2-name" required></select>
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Channel.ChannelName" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / Channel -->
                        </div>

                        <div class="row">
                            <!-- DateIssued -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Certificate.DateIssued" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-calendar-plus"></i></span>
                                    <input asp-for="Certificate.DateIssued" type="text" class="form-control" disabled />
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Certificate.DateIssued" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / DateIssued -->
                            <!-- ExpiryDate -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Certificate.ExpiryDate" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-calendar-times"></i></span>
                                    <input asp-for="Certificate.ExpiryDate" type="text" class="form-control datepicker" />
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Certificate.ExpiryDate" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / ExpiryDate -->
                            <!-- DateRedeemed -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Certificate.DateRedeemed" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-calendar-check"></i></span>
                                    <input asp-for="Certificate.DateRedeemed" type="text" class="form-control datepicker" placeholder="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Certificate.DateRedeemed" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / DateRedeemed -->
                        </div>

                        <div class="row">
                            <!-- Price -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Certificate.Price" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-dollar-sign"></i></span>
                                    <input asp-for="Certificate.Price" class="form-control" required />
                                    <span class="input-group-addon">.00</span>
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Certificate.Price" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / Price -->
                            <!-- Discount -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Promotion.Discount" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-hand-holding-usd"></i></span>
                                    <select asp-for="Promotion.Discount" asp-items="@Model.PromoList" class="form-control" required></select>
                                    <span class="input-group-addon">.00</span>
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Promotion.Discount" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / Discount -->
                            <!-- Staff -->
                            <div class="form-group col-sm-4">
                                <label asp-for="Staff.Name" class="control-label">Staff Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-user"></i></span>
                                    <select asp-for="Staff.Name" asp-items="@Model.StaffList" class="form-control select2"></select>
                                </div>
                                <!-- / .input-group -->
                                <span asp-validation-for="Staff.Name" class="text-danger help-block with-errors"></span>
                            </div>
                            <!-- / Staff -->
                        </div>

                        <!-- Button Group -->
                        <div class="box-footer form-group col-sm-12">
                            <button type="submit" class="btn btn-success col-sm" style="margin-bottom: 10px; max-width: 100%">
                                <i class="fas fa-edit"></i>
                                <span>@ViewData["SubmitButtonText"] Certificate</span>
                            </button>

                            @if ((string)TempData["_ReturnRoute.Controller"] == "Customers")
                            {
                                var _ReturnRouteController = TempData["_ReturnRoute.Controller"];
                                var _ReturnRouteAction = TempData["_ReturnRoute.Action"];
                                var _ReturnRouteId = TempData["_ReturnRoute.Id"];

                                TempData["_ReturnRoute.Controller"] = null;

                                TempData["_ReturnRoute.Update.Controller"] = _ReturnRouteController;
                                TempData["_ReturnRoute.Update.Action"] = _ReturnRouteAction;
                                TempData["_ReturnRoute.Update.Id"] = _ReturnRouteId;

                                <a asp-controller="@_ReturnRouteController"
                                   asp-action="@_ReturnRouteAction"
                                   asp-route-id="@_ReturnRouteId"
                                   class="btn btn-danger col-sm pull-right" style="max-width: 100%">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    <span>Back to @TempData["_ReturnRoute.ViewLabel"]</span>
                                </a>
                            }
                            else if ((string)TempData["_ReturnRoute.Controller"] == "Orders")
                            {
                                var _ReturnRouteController = TempData["_ReturnRoute.Controller"];
                                var _ReturnRouteAction = TempData["_ReturnRoute.Action"];
                                var _ReturnRouteId = TempData["_ReturnRoute.Id"];

                                TempData["_ReturnRoute.Controller"] = null;

                                TempData["_ReturnRoute.Update.Controller"] = _ReturnRouteController;
                                TempData["_ReturnRoute.Update.Action"] = _ReturnRouteAction;
                                TempData["_ReturnRoute.Update.Id"] = _ReturnRouteId;

                                <a asp-controller="@_ReturnRouteController"
                                   asp-action="@_ReturnRouteAction"
                                   asp-route-id="@_ReturnRouteId"
                                   class="btn btn-danger col-sm pull-right" style="max-width: 100%">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    <span>Back to @TempData["_ReturnRoute.ViewLabel"]</span>
                                </a>
                            }
                            else
                            {
                                <a asp-action="Index" class="btn btn-danger col-sm pull-right" style="max-width: 100%">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    <span>Back to List</span>
                                </a>
                            }
                        </div>
                        <!-- / Button Group -->
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- / Main content -->
