@model IEnumerable<Certitrack.Models.CertificateLink>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Current = "CertificateIndex";
}

<section class="content-header">
    <h1>
        Certificates
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li class="active">Certificates
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Manage Certificates</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body pad table-responsive">
                    <table id="main-table-staff" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Certificate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Channel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Promotion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Staff)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Certificate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Channel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Promotion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff)
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Edit" asp-route-id="@item.CertificateId" class="btn">
                                            <i class="fas fa-edit text-green"></i>
                                            <span class="sr-only">Edit</span>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.CertificateId" class="btn">
                                            <i class="fas fa-info-circle text-fuchsia"></i>
                                            <span class="sr-only">Details</span>
                                        </a>
                                        <button onclick="deleteUser('@item.CertificateId', '@item.Certificate', '@Url.Action("Delete", "Certificates")')" class="btn" style="background-color: transparent">
                                            <i class="fas fa-trash text-red"></i>
                                            <span class="sr-only">Delete</span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
