@model IEnumerable<Certitrack.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Staff
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Staff</li>
    </ol>
    <div class="row">
        <div class="col-xs-12">
            <a asp-action="Create" class="btn btn-primary" style="margin-top: 10px;">
                <i class="fa fa-user-plus"></i>
                Create New
            </a>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Manage Staff</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body pad table-responsive">
                    <table id="main-table-staff" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StaffLink.StaffType.Type)
                                </th>
                                <th>
                                    Role
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StaffLink.StaffType.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StaffLink.Role.Title)
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn text-green fa fa-edit">
                                            <span class="sr-only">Edit</span>
                                        </a> 
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn text-red fa fa-trash-o">
                                            <span class="sr-only">Delete</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
