@model Certitrack.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["SectionHeader"] = "Customer Details";
    ViewData["SectionBreadCrumb"] = "Customer Details";
    ViewData["Title"] = "Customer Details";
    ViewBag.Current = "CustomerDetails";

    TempData["_ReturnRoute.Controller"] = "Customers";
    TempData["_ReturnRoute.Action"] = "Details";
    TempData["_ReturnRoute.Id"] = Model.Customer.Id;
    TempData["_ReturnRoute.ViewLabel"] = "Customer";

    decimal totalValue = 0;
}

<section class="content-header">
    <h1 class="text">
        @ViewData["SectionHeader"]
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/Customers">Customers</a></li>
        <li class="active">@ViewData["SectionBreadCrumb"]</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="col">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#customer">Customer</a></li>
                <li><a data-toggle="tab" href="#orders">Orders</a></li>
                <li><a data-toggle="tab" href="#certificates">Certificates</a></li>
            </ul>
            <!-- / .nav-tabs -->
            <div class="tab-content">
                <div id="customer" class="tab-pane fade in active">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Customer.Id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Customer.Id)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Customer.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Customer.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Customer.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Customer.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Customer.Phone)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Customer.Phone)
                        </dd>
                    </dl>
                </div>
                <!-- / #customer -->
                <div id="orders" class="tab-pane fade table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Order Id
                                </th>
                                <th>
                                    Certificate Qty
                                </th>
                                <th>
                                    Total Order Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Orders)
                            {
                                totalValue = 0;
                                <tr>
                                    <td>
                                        @order.Id
                                    </td>
                                    <td>
                                        @order.OrderItems.Count
                                    </td>
                                    <td>
                                        @foreach (var orderItem in order.OrderItems)
                                        {
                                            totalValue += orderItem.Certificate.Price;
                                        }
                                        $@totalValue
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- / #orders -->
                <div id="certificates" class="tab-pane fade table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Order Id
                                </th>
                                <th>
                                    Certificate No.
                                </th>
                                <th>
                                    Date Issued
                                </th>
                                <th>
                                    Expiry Date
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Date Redeemed
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Orders)
                            {
                                foreach (var orderItem in order.OrderItems)
                                {
                                    <tr class="panel">
                                        <td>
                                            @orderItem.OrderId
                                        </td>
                                        <td>
                                            <a data-toggle="collapse" href="#collapseTwo">
                                                @orderItem.Certificate.CertificateNo
                                            </a>
                                        </td>
                                        <td>
                                            @orderItem.Certificate.DateIssued.ToShortDateString()
                                        </td>
                                        <td>
                                            @orderItem.Certificate.ExpiryDate.ToShortDateString()
                                        </td>
                                        <td>
                                            $@orderItem.Certificate.Price
                                        </td>
                                        <td>
                                            @orderItem.Certificate.DateRedeemed.ToString()
                                        </td>
                                        <!-- Buttons -->
                                        <td class="text-center">
                                            @if (orderItem.Certificate.DateRedeemed == null)
                                            {
                                                <button id="redeem-@orderItem.Certificate.Id"
                                                        data-cert-id="@orderItem.Certificate.Id"
                                                        data-message="@orderItem.Certificate.CertificateNo"
                                                        data-url="@Url.Action("Redeem", "Certificates")"
                                                        class="btn " style="background-color: transparent"
                                                        onclick="redeem('@orderItem.Certificate.CertificateNo')">
                                                    <i class="fas fa-ticket-alt text-green" data-toggle="tooltip" data-placement="left" title="Redeem"></i>
                                                    <span class="sr-only">Redeem</span>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn " style="background-color: transparent" disabled="disabled">
                                                    <i class="fas fa-ticket-alt text-green" data-toggle="tooltip" data-placement="left" title="Redeemed"></i>
                                                    <span class="sr-only">Redeemed</span>
                                                </button>
                                            }
                                            <a asp-action="Edit" asp-controller="Certificates" asp-route-id="@orderItem.Certificate.Id" class="btn">
                                                <i class="fas fa-edit text-primary" data-toggle="tooltip" data-placement="left" title="Edit"></i>
                                                <span class="sr-only">Edit</span>
                                            </a>
                                            <button id="delete-@orderItem.Certificate.Id"
                                                    data-cert-id="@orderItem.Certificate.Id"
                                                    data-message="@orderItem.Certificate.CertificateNo"
                                                    data-url="@Url.Action("Delete", "Certificates")"
                                                    class="btn" style="background-color: transparent"
                                                    onclick="deleteUser('Certificate: #@orderItem.Certificate.CertificateNo')">
                                                <i class="fas fa-trash text-red" data-toggle="tooltip" data-placement="left" title="Delete"></i>
                                                <span class="sr-only">Delete</span>
                                            </button>
                                        </td>
                                        <!-- / Buttons -->
                                        <div id="container-collapse">
                                    <tr id="collapseTwo" class="panel-collapse collapse">
                                        <table>
                                            <thead>
                                            <th colspan="2">TableHead</th>
                                            <th colspan="3">TableHead</th>
                                            <th colspan="2">TableHead</th>
                                            </thead>
                                            <tbody>
                                            <td colspan="2">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </td>
                                            <td colspan="3">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </td>
                                            <td colspan="2">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </td>
                                </tbody>
                            </table>
                                
                                </tr>
</div>
                        </tr>
                    }
                }
                            </tbody>
                            </table>
                        </div>
                <!-- / #certificates -->
            </div>
            <!-- / .tab-content -->
        </div>
        <!-- / .nav-tabs-custom -->
        <!-- Buttons -->
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Customer.Id"
               class="btn btn-success col-sm" style="margin-bottom: 10px; max-width: 100%">
                <i class="fas fa-edit"></i>
                <span>Edit Customer</span>
            </a>
            <a asp-action="Index"
               class="btn btn-danger col-sm pull-right" style="max-width: 100%">
                <i class="fa fa-arrow-circle-left"></i>
                <span>Back to List</span>
            </a>
        </div>
        <!-- / Buttons -->
    </div>
    <!-- / .col -->
</section>
<!-- / Main content -->
