@model Certitrack.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["SectionHeader"] = "Customer Details";
    ViewData["SectionBreadCrumb"] = "Customer Details";
    ViewData["Title"] = "Customer Details";
    ViewBag.Current = "CustomerDetails";

    TempData["_ReturnRoute.Controller"] = "Customers";
    TempData["_ReturnRoute.Action"] = "Details";
    TempData["_ReturnRoute.Id"] = Model.Customer.Id;
    TempData["_ReturnRoute.ViewLabel"] = "Customer";

    decimal totalValue = 0;
    DateTime dateTime = DateTime.Today;
}

<section class="content-header">
    <h1 class="text">
        @ViewData["SectionHeader"]
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/Customers">Customers</a></li>
        <li class="active">@ViewData["SectionBreadCrumb"]</li>
    </ol>
</section>
<!-- / .content-header -->

<!-- Main content -->
<section class="content">
    @Html.AntiForgeryToken()
    <div class="col">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#customer">Customer</a></li>
                <li><a data-toggle="tab" href="#orders">Orders</a></li>
                <li><a data-toggle="tab" href="#certificates">Certificates</a></li>
            </ul>
            <!-- / .nav-tabs -->
            <div class="tab-content">
                <div id="customer" class="tab-pane fade in active">
                    <dl class="dl-horizontal">
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.Customer.Id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Customer.Id)
                        </dd>

                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.Customer.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Customer.Name)
                        </dd>

                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.Customer.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Customer.Email)
                        </dd>

                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.Customer.Phone)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Customer.Phone)
                        </dd>
                    </dl>
                </div>
                <!-- / #customer -->
                <div id="orders" class="tab-pane fade table-responsive">
                    <table id="main-table-customer-order" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Order Id
                                </th>
                                <th>
                                    Certificate Qty
                                </th>
                                <th>
                                    Total Order Value
                                </th>
                                <th>
                                    Order Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Orders)
                            {
                                totalValue = 0;
                                <tr>
                                    <td>
                                        @order.Id
                                    </td>
                                    <td>
                                        @order.OrderItems.Count
                                    </td>
                                    <td>
                                        @foreach (var orderItem in order.OrderItems)
                                        {
                                            totalValue += orderItem.Certificate.Price;
                                        }
                                        $@totalValue
                                    </td>
                                    <td>
                                        @foreach (var orderItem in order.OrderItems)
                                        {
                                            dateTime = orderItem.Certificate.DateIssued;
                                        }
                                        @dateTime.ToString("yyyy-MM-dd")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- / #orders -->
                <div id="certificates" class="tab-pane fade table-responsive">
                    <table id="main-table-customer-cert" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Order Id
                                </th>
                                <th>
                                    Certificate No.
                                </th>
                                <th>
                                    Issued By
                                </th>
                                <th>
                                    Date Issued
                                </th>
                                <th>
                                    Expiry Date
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Promo
                                </th>
                                <th>
                                    Channel
                                </th>
                                <th>
                                    Date Redeemed
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Orders)
                            {
                                foreach (var orderItem in order.OrderItems)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(orderId => orderItem.OrderId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(certificateNo => orderItem.Certificate.CertificateNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(staffName => orderItem.Certificate.CertificateLink.Staff.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(dateIssued => orderItem.Certificate.DateIssued)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(expiryDate => orderItem.Certificate.ExpiryDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(price => orderItem.Certificate.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(promo => orderItem.Certificate.CertificateLink.Promotion.Discount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(channel => orderItem.Certificate.CertificateLink.Channel.ChannelName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(dateRedeemed => orderItem.Certificate.DateRedeemed)
                                        </td>
                                        <!-- Buttons -->
                                        <td class="text-center">
                                            @if (orderItem.Certificate.DateRedeemed == null)
                                            {
                                                <button id="redeem-@orderItem.Certificate.Id"
                                                        data-cert-id="@orderItem.Certificate.Id"
                                                        data-message="@orderItem.Certificate.CertificateNo"
                                                        data-url="@Url.Action("Redeem", "Certificates" )"
                                                        class="btn " style="background-color: transparent"
                                                        onclick="redeem('@orderItem.Certificate.CertificateNo')">
                                                    <i class="fas fa-ticket-alt text-green" data-toggle="tooltip"
                                                       data-placement="left" title="Redeem"></i>
                                                    <span class="sr-only">Redeem</span>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn " style="background-color: transparent" disabled="disabled">
                                                    <i class="fas fa-ticket-alt text-green" data-toggle="tooltip"
                                                       data-placement="left" title="Redeemed"></i>
                                                    <span class="sr-only">Redeemed</span>
                                                </button>
                                            }
                                            <a asp-action="Edit" asp-controller="Certificates"
                                               asp-route-id="@orderItem.Certificate.Id" class="btn">
                                                <i class="fas fa-edit text-primary" data-toggle="tooltip" data-placement="left"
                                                   title="Edit"></i>
                                                <span class="sr-only">Edit</span>
                                            </a>
                                            <button id="delete-@orderItem.Certificate.Id"
                                                    data-cert-id="@orderItem.Certificate.Id"
                                                    data-message="@orderItem.Certificate.CertificateNo"
                                                    data-url="@Url.Action("Delete", "Certificates" )"
                                                    class="btn" style="background-color: transparent"
                                                    onclick="deleteUser('Certificate #@orderItem.Certificate.CertificateNo')">
                                                <i class="fas fa-trash text-red" data-toggle="tooltip" data-placement="left"
                                                   title="Delete"></i>
                                                <span class="sr-only">Delete</span>
                                            </button>
                                        </td>
                                        <!-- / Buttons -->
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- / #certificates -->
            </div>
            <!-- / .tab-content -->
        </div>
        <!-- / .nav-tabs-custom -->
        <!-- Buttons -->
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Customer.Id" class="btn btn-success col-sm"
               style="margin-bottom: 10px; max-width: 100%">
                <i class="fas fa-edit"></i>
                <span>Edit Customer</span>
            </a>
            <a asp-action="Index" class="btn btn-danger col-sm pull-right" style="max-width: 100%">
                <i class="fa fa-arrow-circle-left"></i>
                <span>Back to List</span>
            </a>
        </div>
        <!-- / Buttons -->
    </div>
    <!-- / .col -->
</section>
<!-- / Main content -->